#
# This configuration file is used by the launch.py utility. These settings
# describe the configuration of the AWS EC2 instances. Given that these settings
# must be coordinated along with changes in the product, this file should be
# version-controlled.
#
[EC2]

# Which base AMI image should we use - Centos 7.x x86_64
ImageID = ami-c7d092f7

# we always run on t2.micro-sized VMs (although can increase this if the software needs it later)
InstanceType = t2.micro

[Puppet]

# The URL of where we can load the Puppet repository configuration from (OS dependent).
# See https://docs.puppetlabs.com for more detail.
# TODO: how do we ensure that we're getting a predictable version of puppet (not just the latest?)
PuppetURL = http://yum.puppetlabs.com/puppetlabs-release-el-7.noarch.rpm

# Which Puppet configuration script should we apply to each node? This file should be version controlled.
PuppetConfigFile = node.pp
